---
layout: default
title: Trevar McNamee
current: home
---

<style type="text/css">
    .nav-button {
        display:none;
    }
</style>

<div class="home-cover">
    <div class="home-cover-image" style="background-image: url(/assets/images/home_bg.png);"></div>
    <div class="layout-foreground">
        <header class="hero hero-home">
            <div class="layout-foreground">
                <div class="align-block">
                    <h1 class="hero-title">Trevar<b>McNamee</b></h1>
                    <p class="hero-description hero-description-tagline">A humble/ridiculous 22-year-old</br>Marketing/MIS graduate of Gonzaga University.</br></br>
					Making content marketing better for brands 20 tabs at a time.
					</p>
                </div>
                <!-- <div class="twitter-follow">
                    You can
                    <iframe allowtransparency="true" frameborder="0" scrolling="no" class="twitter-follow-button" src="http://platform.twitter.com/widgets/follow_button.1347008535.html#_=1347483259773&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=juristr&amp;show_count=false&amp;show_screen_name=false&amp;size=l">
                    </iframe> me on Twitter.
                </div>                 -->
                <div class="read-blog-button">
                    <a href="/social" class="btn btn-default btn-transparent">Let's Talk!</a>
                </div>
            </div>
        </header>
		
		    <!-- Twitter cards -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@theTREVAR" />
    <meta name="twitter:title" content="{{ page.title }}" />
    {% if page.description %}
      <meta name="twitter:description" content="{{ page.description }}" />
    {% else %}
      <meta name="twitter:description" content="{{ page.lead }}" />
    {% endif %}
    {% if page.postimg != nil %}
      <meta name="twitter:image:src" content="http://trevarmac1993.github.io{{ page.postimg }}" />
    {% endif %}
	

        <div class="social-icons">
            {% include social_icons %}
        </div>
    </div>
</div>
